body
{
background-image: url("dark_wall.png");
/*background-color: black;*/
color: #FFFFFF;
font-size: 20px;
}

#container
{
	
	margin-left: auto;
	margin-right: auto;
	width: 1340px;
	height: auto;
}

.rectangle
{
	height: 280px;
	/*background-color: black;*/
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.content
{
	width: 914px;
	height: 800px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	background-image: url("country-quilt-dark.png");
	opacity: 0.3;  /*To jest ok*/
	padding: 30px;
}

#nav
{
	height: 250px;
	width: 950px;
	/*background-color: red;*/
	margin-left: 247.500px;
	margin-right: auto;
	text-align: center;

	
}

#footer
{
	margin-top: 5px;
	height: 40px;
	/*background-color: red;*/
}

#logo
{
	margin-left: -48px;
	opacity: 0.3; /*to jest ok*/
	float: left;
}

#lorem_content
{
	padding: 10px;
}

.menu
{
	/*display: none;*/
	padding-top: 89px;
	/*opacity: 1;*/
	width: 840px;
	
	
}

.menu:hover
{
	/*opacity: 0.4*/
}

ol
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 21px;	
	display: inline-block;
	height: 35 px;
	line-height: 200%;
	border-bottom: dashed 1px #ffffff;
	border-top: dashed 1px #ffffff;
	
}

ol a
{
	text-decoration: none;
	color: #ffffff;
	display: block;
}

ol>li /*czytamy od prawej do lewej- stylizujemy taki element li którego rodzicem jest ol>>> parennt>child*/ 
{
	float: left;
	width: 170px;
	height: 40px;
}

ol>li:first-child
{
	float: left;
	width: 95px;
	height: 40px;
}

ol>li:last-child
{
	float: left;
	width: 95px;
	height: 40px;
}

ol>li:hover  /*Issue: Can I use the selectors in that way, wchich allow me to give a style only for child <li>  whom is child of <ol> without <ul> and child of <ul> list?  */
{
	background-color: #191919;
	/*opacity: 0.3;*/	  /* ten zapis wpływa na listę <ul> */
}

ol>li>ul
{
	list-style-type: none;
	display: block; /*bo dzięki temu uda nam się nadać atrybuty wysokości i szerokości dla elementów będących linkami. Display block oznacza: zachowuj się jak div - czyli można stylizowac jak div*/
    display: none;
	padding: 0px;
	line-height: 30px;
	background-color: #191919;
	width: 170px;
}

ol>li:hover>ul
{
	display: block;
	position: absolute; /*this line impact for the position of drop-down menu in navigation bar!*/ 
	background-color: #242424;
	width: 170px;	
}

ol>li>ul>li:hover
{
	border-top: dashed 1px #ffffff;
	border-bottom: dashed 1px #ffffff;
	backgorund-color: #010101;
	width: 170px;	
	
	/*opacity: 0.9;*/  /*ten zpais wpływa na listę <ul> i elementy <li>*/
	
}

ol>li>ul>li 
{
	color: #ffffff;
	background-color: #1A1A1A;
	opacity: none;
	position: relative; /* This line impact for the way how position <li> items take*/
	z-index: 100; /* This line impact for the visibility of drop-down list-item from menu */
}

ol>li>ul:nth-child(2)
{
	width: 95px;
}





