body
{
background-image: url("dark_wall.png");
/*background-color: black;*/
font-size: 20px;
color: grey;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	width: 1340px;
	height: auto;
}

.rectangle
{
	height: 280px;
	/*background-color: black;*/
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*Related to main content*/
.content
{
	width: 914px;
	height: 850px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	background-image: url("country-quilt-dark.png");
	opacity: 0.77;  /*To jest ok*/
	padding: 30px;
	position: relative;
}

.head_content
{
	height:250px;
	border-top: solid 1px #A6A6A6;
	border-bottom: solid 1px #A6A6A6;
	padding-top: 10px;
	padding-left: 15px;
}

.content_photo
{
	width:165px;
	height: 230px;
	margin-right: 50px;
	float: left;
	margin-right: 50px;
	opacity: 0.55;
}

.content_cytat
{
	float: left;
	width:500px;
	height:230px;
	font-size: 19px;
	margin-left: 50px;
	text-align: justify;
	letter-spacing: 1px;
}

.signature /*Signature in motto on main page*/
{
	text-align: right;
	font-style: italic;
}

.left_content_box
{
	margin-top: 30px;
	padding: 5px;
	font-size: 19px;
	width: 220px;
	text-align: justify;
	float: left;
	position: absolute;
	left: 50px;
}

.center_content_box
{
	margin-top: 75px;
	padding: 5px;
	width: 275px;
	float: left;
	position: absolute;
	right: 340px;
	opacity: 0.4;
}

.right_content_box
{
	margin-top: 30px;
	padding: 5px;
	font-size: 19px;
	width: 220px;
	text-align: justify;
	position: absolute;
	right: 50px;
}

.main_content_header /*Header in MAIN PAGE -> "O mnie" and "Moje motto"*/
{
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.under_content_box
{
	position: absolute;
	bottom: 15px;
	font-size: 19px;
	padding: 55px;
	margin-left: auto;
	margin-right: 18px;
	text-align: justify;
	word-spacing: 4px;
}
#nav
{
	height: 250px;
	width: 950px;
	/*background-color: red;*/
	margin-left: 247.500px;
	margin-right: auto;
	text-align: center;
}

/*Releated to footer*/

#footer
{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 60px;
	width: 964px;
	margin-left: 183px;
	margin-right: 183px;
	padding: 5px;
	background-image: url("country-quilt-dark.png");
	opacity: 0.77;
	position: relative;
}
/*Left Side of Footer*/
#footer_left
{
	width: 250px;
	height: 64px;
	margin-left: -15px;
	color: white;
	font-weight: 250;
	font-size: 18px;
	float:left;
	margin-right: 20px;
}

ul.footer_items>li
{
	display: block;
	float: left;
	list-style-type: none;
	height: 30px;
}

ul.footer_items>li:first-child
{
	width: 95px;
}

ul.footer_items>li a
{
	color: #A6A6A6;
	text-decoration: none;
	font-size: 20px;
	height: 30px;
}

ul.footer_items>li a:hover
{
	background-color: #121212;
}

/*Center footer*/
#footer_center
{
	float:left;
	width: 285px;
	margin-left: 85px;
	margin-right: 45px;
	text-align: center;
	padding-bottom: 6px;
	padding-top: 6px;
	font-size: 19px;
}

/*Right footer*/
#footer_right
{
	float: left;
	width: 250px;
	height: 64px;
}

/*Social media in right footer (without hover)*/
.social
{
	width:200px;
	height:60px;
	margin-left: 75px;
}

.fb
{
	float: left;
	width: 65px;
	height: 60px;
}

.twitter
{
	float: left;
	width: 65px;
	height: 60px;
}

.insta
{
	float: left;
	width: 65px;
	height: 60px;
}

/*Social media in right footer (with hover)*/
.fb:hover
{
	opacity:0.3;
}

.twitter:hover
{
	opacity:0.3;
}

.insta:hover
{
	opacity:0.3;
}

/*Social media in right footer (<tag <a> stylization)*/

a:link
{
	color: grey;
}

a:visited
{
	color: grey;
}

#logo
{
	margin-left: -63px;
	opacity: 0.77; /*to jest ok*/
	float: left;
}

 #logo:hover
{
	opacity:0.4;
}
.menu
{
	/*display: none;*/
	padding-top: 80px;
	/*opacity: 1;*/
	width: 840px;
}

.menu:hover
{
	/*opacity: 0.4*/
}

ol
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 21px;
	display: inline-block;
	height: 45px;
	line-height: 225%; /*pytanie w jaki sposób działa ten element i jak wpływa na inne rzeczy*/
	border-bottom: dashed 1px #ffffff;
	border-top: dashed 1px #ffffff;
}

ol a
{
	text-decoration: none;
	color: #A6A6A6;
	display: block;
}

ol>li>ul>li a:hover
{
	color: white;
}

ol>li /*czytamy od prawej do lewej- stylizujemy taki element li którego rodzicem jest ol>>> parennt>child*/ 
{
	float: left;
	width: 170px;
	height: 40px;
	font-size: 19px;
}

ol>li:first-child
{
	width: 95px;
}


ol>li:hover  /*Issue: Can I use the selectors in that way, wchich allow me to give a style only for child <li>  whom is child of <ol> without <ul> and child of <ul> list?  */
{
	background-color: #121212;
	/*opacity: 0.3;*/	  /* ten zapis wpływa na listę <ul> */
}

ol>li>ul
{
	list-style-type: none;
	display: block; /*bo dzięki temu uda nam się nadać atrybuty wysokości i szerokości dla elementów będących linkami. Display block oznacza: zachowuj się jak div - czyli można stylizowac jak div*/
    display: none;
	padding: 0px;
	line-height: 31px;
	width: 170px;
}

ol>li:hover>ul
{
	display: block;
	position: absolute; /*this line impact for the position of drop-down menu in navigation bar!*/ 
	width: 170px;	
}


ol>li>ul>li:hover
{
	border-top: dashed 1px #ffffff;
	border-bottom: dashed 1px #ffffff;
	width: 170px;
	font-size: 21px;
	/*opacity: 0.9;*/  /*ten zpais wpływa na listę <ul> i elementy <li>*/
}

ol>li>ul>li:first-child
{
	border-top: none;
	padding: 5px;
}

ol>li>ul>li:first-child:hover
{
	padding: 0px;
}


ol>li>ul>li
{
	color: #ffffff;
	/*background-image: url("country-quilt-dark.png");*/
	background-color: #121212;
	opacity: 0.7;
	position: relative; /* This line impact for the way how position <li> items take*/
	z-index: 100; /* This line impact for the visibility of drop-down list-item from menu */
	font-size:18px;
}






